html {
    font-family: 'Inter', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #0A3871;
}

.logo-container {
    display: flex;
    align-items: center;
}
  
.logo-container img {
    height: 50px;
    margin-right: 2rem;
}
  
.logo-container h1 {
    font-size: 2rem;
    margin: 0;
}

body {
    margin: 0;
    background-color: #F3F5FC;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left {
    display: flex;
    flex-direction: column;
    flex-basis: 66.66%;
}

.textarea-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 32px;
}

textarea {
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    border: none;
    outline: none;
    resize: none;
    color: #0A3871;
    width: 30rem;
    height: 35rem;
}

textarea::placeholder {
    color: #0A3871;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.button-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
}
  
button {
    font-family: 'Inter', sans-serif;
    margin-top: 1rem;
    margin-right: 4rem;
    margin-left: 4rem;
    margin-bottom: 6rem;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #0A3871;
    z-index: 1;
    background: #d6d6d6;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #0A3871;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}

button:hover {
    color: #F3F5FC;
}

button:hover::before {
    width: 100%;
}

.aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
    color: #67808E;
    margin: none;
    border: none;
}

.aviso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: none;
    color: #67808E;
    margin: none;
    border: none;
}

.right {
    position: relative;
    background-color: #F3F5FC;
    flex-basis: 33.33%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.rectangulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 800px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.07);
    border-radius: 32px;
}

.msjTemp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 800px;
    background: white;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.07);
    border-radius: 32px;
}

.msjTemp h1 {
    color: #343A40;
    margin: 16;
    font-weight: normal;
}

.msjTemp p {
    color: #495057;
    margin-left: 16;
    text-align: center;
    font-weight: normal;
}

#respuestaTexto {
    background-color: white;
    color: #495057;
    width: 360px;
    height: 560px;
}